html {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A7C1C5;
    height: 100vh;
    padding-top: 110px;
}

.scrollable {
    min-height: 400vh;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

header {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: #A7C1C5;
    z-index: 1000;
    border-bottom: 2px solid #000000;
    font-size: 1.5rem;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #1C46AF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    line-height: 30px;
    text-align: center;
}

.fadeText {
    opacity: 0;
    transform: translateY(300px);
    transition: opacity 0.5s, transform 0.5s;
    margin: 0 auto;
}

.fadeText.visible {
    opacity: 1;
    transform: translateY(200px);
}

.fadeText2 {
    opacity: 0;
    transform: translateY(850px);
    transition: opacity 0.5s, transform 0.5s;
    margin: 0 auto;
}

.fadeText2.visible {
    opacity: 1;
    transform: translateY(500px);
}

#textColour,
.textColourGradual {
    color: #000000;
}

.textShadow.visible {
    text-shadow: 2px 2px 2px #000000;
}

.textShadowGradual {
    color: #000000;
}

.dietPepsiImage{
    width: 400px;
    height: 400px;
    background-image: url("images/pepsi.png");
    background-size: cover;
    background-position: center;
    margin-top: 350px;
    z-index: 1;
}

.mentosImage {
    width: 300px;
    height: 300px;
    background-image: url("images/mentos.png");
    background-size: cover;
    background-position: center;
    margin-top: 0x;
    z-index: 0;
    margin-right: 10px;
}

.dietPepsiImage2{
    width: 600px;
    height: 600px;
    background-image: url("images/pepsi.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
    z-index: 1;
}

.lyrics,
.lyrics2,
.lyrics3,
.lyrics4 {
    position: fixed;
    margin-top: 50px;
    margin-left: 20px;
}

.lyrics2 {
    margin-top: 150px;
}

.lyrics3 {
    margin-top: 250px;
}

.lyrics4 {
    margin-top: 350px;
}

.dietPepsiImagePosition{
    width: 400px;
    height: 400px;
    background-image: url("images/pepsi.png");
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    z-index: 1;
    position: absolute;
}

.dietPepsiImageReveal{
    width: 400px;
    height: 400px;
    background-image: url("images/pepsi.png");
    background-size: cover;
    background-position: center;
    margin-top: 550px;
    z-index: 1;
    position: absolute;
}

.progressBar {
    position: fixed;
    width: 0%;
    height: 10px;
    background-color: #1C46AF;
    z-index: 1;
}

.textSize {
    font-size: 1.5rem;
}

.letter {
    font-size: 2rem;
    opacity: 0;
    margin-top:50px;
}

.body22 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #A7C1C5;
    height: 100vh;
    padding-top: 110px;
}
